{% extends "base.html" %} 
{% block content %}
    <h1>{{ album.title }}</h1>
    <h2>by {{ album.artist_name }}</h2>
    
    <h3>Songs on Album</h3>
    <ul>
        {% for song in album.tracks.all %}
            <li>
                <a href="{% url 'song_detail' pk=song.pk %}">
                    {{ song.position }}. {{ song.title }}
                </a>
            </li>
        {% empty %}
             <li>No songs in album yet.</li>
        {% endfor %}
    </ul>

    <hr>

    <h3>User Comments</h3>
    {% for comment in album.comments.all %}
        <p>
            {{ comment.comment_text }} (By **{{ comment.get_user_display_name }}**)
        </p>
    {% empty %}
        <p>No comments</p>
    {% endfor %}
    
{% endblock content %}