{% extends "base.html" %} 
{% block content %}
    <h1>Dottify Homepage</h1>

    <p>Total results found: {{ total_results_found }}</p>
    {% if albums %}        
        <h2>Albums</h2>
        <ul>
            {% for album in albums %}
                <li>
                    <a href="{% url 'album_detail' pk=album.pk slug=album.slug %}">
                        {{ album.title }} by {{ album.artist_name }}
                    </a>
                </li>
            {% empty %}
                <li>No albums found.</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if playlists %}
        <h2>Playlists</h2>
        <ul>
            {% for playlist in playlists %}
                <li>
                    {{ playlist.name }} (Owner: {{ playlist.owner.display_name }})
                </li>
            {% empty %}
                <li>No playlists found.</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if songs %}
        <h2>All Songs</h2>
        <ul>
            {% for song in songs %}
                <li>
                    <a href="{% url 'song_detail' pk=song.pk %}">{{ song.title }}</a>
                </li>
            {% empty %}
                <li>No songs found.</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock content %}